/* additional fix */

/* normalize */
@media screen and (max-width: 991px) {
  figure.w-richtext-align-normal.w-richtext-figure-type-image {
    max-width: 100%;
  }
}

/* main menu */
.sub-menu a.has-sub-menu { position: relative; }
.sub-menu a.has-sub-menu:after {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.79293 4.00004L0.646484 0.853591L1.35359 0.146484L5.20714 4.00004L1.35359 7.85359L0.646484 7.14648L3.79293 4.00004Z" fill="%23003366"/></svg>');
  position: absolute;
  right: 0px;
  color: #aaa;
}
.sub-menu li a {
  padding-right: 20px !important;
  min-width: 120px;
}

/* language switcher */
.switch-language {}

/* others */
div.menu-top { display: none !important; }
