:root {
  --link: #2b6297;
  --accent--light-blue: #0074bc;
  --ust--blue: #036;
  --ust--gold: #960;
  --text: #333;
  --accent--red: #ed1b2f;
  --accent--orange: #faa61a;
  --accent--yellow: #ffd400;
  --accent--green: #1c9259;
  --accent--violet: #7c2348;
  --light-gray: #eee;
  --dark-gray: #8c8f90;
  --ust--light-gold: #c90;
  --gray: #ccc;
}

body {
  color: #333;
  background-color: #f9f9f9;
  font-family: Mulish, sans-serif;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  font-weight: bold;
  line-height: 44px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: bold;
  line-height: 36px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}

p {
  margin-bottom: 15px;
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  color: var(--accent--light-blue);
}

ul, ol {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
}

.hidden {
  display: none;
}

.h-max-w {
  width: 100%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.h-hh1-blue {
  color: var(--ust--blue);
  margin: 20px 0 10px;
  font-size: 3.15em;
  font-weight: 700;
  line-height: 1.125em;
}

.h-hh1-white {
  color: #fff;
  margin: 20px 0 10px;
  font-size: 3.15em;
  font-weight: 700;
  line-height: 1.125em;
}

.h-hh1-page-title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 60px;
  font-weight: 700;
  line-height: 1em;
}

.h-hh1-oversize {
  color: #fff;
  margin: 10px 0;
  font-size: 120px;
  font-weight: 700;
  line-height: 1.125em;
  display: inline-block;
}

.h-hh2-blue {
  color: var(--ust--blue);
  margin-left: 0;
  margin-right: 0;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
}

.h-hh2-blue.large {
  font-size: 48px;
}

.h-hh2-white {
  color: #fff;
  margin: 20px 0 10px;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
}

.h-hh3-blue {
  color: var(--ust--blue);
  margin: 20px 0 10px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.h-hh3-blue.small {
  margin-top: 8px;
  margin-bottom: 4px;
  font-size: 22px;
  line-height: 1.25em;
}

.h-hh3-white {
  color: #fff;
  margin: 20px 0 10px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.h-hh3-gold {
  color: var(--ust--gold);
  margin: 20px 0 10px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.h-hh3-black {
  color: var(--text);
  margin: 20px 0 10px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.h-hh3-black.next-line {
  margin-top: 10px;
}

.h-side-menu-link {
  opacity: 1;
  color: #fff;
  letter-spacing: .025em;
  background-image: url('https://cnd-host.pages.dev/p/ust/brand/images/h-down-arrow.svg');
  background-position: 98%;
  background-repeat: no-repeat;
  background-size: 14px;
  border-bottom: 1px solid #fff;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 22px 5px;
  font-size: 1.25em;
  font-weight: 600;
  line-height: 1.25em;
  text-decoration: none;
  transition: all .12s;
  display: flex;
}

.h-side-menu-link:hover {
  color: var(--ust--blue);
  background-color: #fff;
  background-image: url('https://cnd-host.pages.dev/p/ust/brand/images/h-down-arrow-blue.svg');
  text-decoration: none;
}

.h-side-menu-wrap {
  z-index: 6;
  background-color: var(--ust--blue);
  flex: none;
  width: 380px;
  min-height: 400px;
  padding: 130px 60px 65px 25px;
  position: absolute;
  inset: 0% 20px auto auto;
}

.h-side-menu-deco {
  background-color: var(--ust--gold);
  width: 25px;
  height: 115px;
  position: absolute;
  inset: 0% 0% auto auto;
}

.h-page-wrap {
  width: 100%;
  margin: 0;
  padding: 0;
}

.h-page-wrap.white-bg {
  background-color: #fff;
}

.h-banner {
  background-image: linear-gradient(#0003, #fff);
  width: 100%;
  height: 660px;
  margin: 0;
  padding: 0;
  position: relative;
}

.h-banner.tall {
  height: auto;
  min-height: 85.5vh;
}

.h-banner-bg {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  inset: 0%;
}

.h-banner-bg.less-opacity {
  opacity: .6;
}

.h-banner-bg.light-blue {
  background-color: var(--accent--light-blue);
  background-image: url('https://cnd-host.pages.dev/p/ust/brand/images/background-noise.png'), linear-gradient(200deg, #00336680, #0000);
  background-position: 0 0, 0 0;
  background-size: auto, auto;
}

.h-banner-img {
  filter: brightness(105%);
  object-fit: cover;
  object-position: 50% 20%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.h-banner-img.fit-center {
  object-position: 50% 50%;
}

.h-banner-img.position-absolute {
  position: absolute;
  inset: 0%;
}

.h-banner-img.dome-window {
  object-position: 50% 50%;
  height: 750px;
}

.h-banner-img.red-bird-image {
  object-position: 50% 50%;
  max-height: 100%;
  position: absolute;
  inset: 0%;
}

.h-banner-overlay {
  z-index: 3;
  background-image: linear-gradient(#0363, #0363), linear-gradient(#0000001a, #0000001a);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  inset: 0%;
}

.h-banner-content {
  z-index: 3;
  color: #fff;
  margin: 0;
  padding: 90px 0 45px;
  position: relative;
}

.h-banner-content.from-bottom {
  padding-top: 0;
  padding-bottom: 100px;
  position: absolute;
  inset: auto 0% 0%;
}

.h-banner-content.regular {
  padding: 0 0 40px;
}

.h-section {
  width: 100%;
  margin: 60px 0;
  padding: 40px 0 50px;
  position: relative;
}

.h-section.with-bg {
  background-color: var(--ust--blue);
  color: #fff;
  background-image: none;
  background-repeat: repeat;
  background-size: auto;
  background-attachment: scroll;
  padding-top: 90px;
  padding-bottom: 120px;
}

.h-section.no-padding {
  padding: 0;
}

.h-section.no-top-margin {
  margin-top: 0;
}

.h-section.next {
  padding-top: 120px;
}

.h-flex-h {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  display: flex;
  position: relative;
}

.h-flex-h.gap {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.h-flex-h.gap.tight {
  grid-column-gap: 6%;
  grid-row-gap: 36px;
  flex-wrap: wrap;
}

.h-flex-h.gap.large {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  padding-top: 10px;
  padding-bottom: 15px;
}

.h-flex-h.gap.larger {
  grid-column-gap: 80px;
  grid-row-gap: 0px;
  padding-top: 10px;
  padding-bottom: 0;
}

.h-flex-h.gap-wrap {
  grid-column-gap: 40px;
  grid-row-gap: 20px;
  flex-wrap: wrap;
  align-items: stretch;
  margin-top: 40px;
  margin-bottom: 40px;
}

.h-flex-h.gap-wrap.around {
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 30px;
  margin-bottom: 20px;
}

.h-flex-h.full-height {
  height: 100%;
}

.h-flex-h.stretch {
  grid-column-gap: 10px;
  flex-wrap: wrap;
  align-items: stretch;
}

.h-flex-h.wrap {
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}

.h-flex-h.wrap.has-gap {
  grid-column-gap: 60px;
  grid-row-gap: 20px;
}

.h-flex-h.wrap-center {
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.h-flex-v {
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  display: flex;
  position: relative;
}

.h-flex-v.gap {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.h-flex-v.gap.tight {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.h-narrow {
  max-width: 820px;
}

.h-narrow.narrower {
  width: 40%;
}

.h-narrow.center-this {
  text-align: center;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 10px;
}

.h-img-icon {
  width: auto;
  height: 120px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.h-img-icon.tall {
  height: 180px;
}

.h-img-icon.square {
  width: 120px;
  height: 120px;
}

.h-img-icon.talller {
  height: 220px;
}

.h-section-inner {
  z-index: 3;
  width: 100%;
  position: relative;
}

.h-section-inner.flex-right {
  text-align: right;
  flex-direction: column;
  align-items: flex-end;
  display: flex;
}

.h-section-inner.flex-right.text-align-left {
  text-align: left;
}

.h-section-inner.narrow-adj {
  height: 100%;
  padding: 60px 16%;
}

.h-section-inner.spaced {
  padding-top: 40px;
  padding-bottom: 40px;
}

.h-button-arrow {
  flex: none;
  width: 16px;
  height: 16px;
  margin-left: 30px;
}

.h-overlay-content {
  z-index: 9;
  color: #fff;
  text-shadow: 0 0 12px #0003;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 60px 0;
  display: flex;
  position: absolute;
  inset: 0%;
  overflow: hidden;
}

.h-overlay-content.red-bird-content {
  font-size: 1em;
  position: relative;
}

.h-overlay-gradient {
  background-image: linear-gradient(to right, var(--ust--blue), #036c 30%, #0360 65%);
  opacity: .8;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.h-relative-wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

.h-deco-line {
  background-color: #fff;
  flex: none;
  width: 100%;
  height: 6px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.h-button-down {
  flex: none;
  width: 14px;
  height: 14px;
  margin-left: 18px;
}

.h-go-down {
  z-index: 9;
  color: #fff;
  text-align: center;
  width: 78px;
  margin: 0 auto;
  padding: 5px 0;
  transition: all .2s;
  position: absolute;
  inset: auto 0% 18px;
}

.h-go-down:hover {
  bottom: 12px;
}

.h-go-down.bg-arrow {
  color: #0000;
  background-image: url('https://cnd-host.pages.dev/p/ust/brand/images/h-down-section.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 95%;
  width: 80px;
  height: 30px;
}

.h-go-down.bg-arrow:hover {
  color: #0000;
}

.h-go-down-icon {
  color: #fff;
  width: 100%;
}

.h-anchor {
  width: 100%;
  height: 0;
  position: relative;
  top: -160px;
}

.h-area-bg {
  opacity: .85;
  background-image: linear-gradient(#0000001a, #0000);
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.h-area-bg.purple {
  background-color: #5e0027;
}

.h-rt-large {
  letter-spacing: .0125em;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.415em;
  font-weight: 500;
  line-height: 1.75em;
}

.h-rt-large h3 {
  margin-top: 20px;
}

.h-rt-large p {
  text-align: justify;
  margin-bottom: 10px;
  padding-bottom: 0;
}

.h-rt-large ul {
  padding-left: 35px;
}

.h-area-content {
  z-index: 3;
  color: #fff;
  height: 100%;
  padding: 80px 60px;
  position: relative;
}

.h-area-content.half-size {
  width: 50%;
}

.h-stripe-deco-s0 {
  opacity: .2;
  background-image: url('https://cnd-host.pages.dev/p/ust/brand/images/Brand-Stripe.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
  width: 180px;
  min-height: 60px;
  max-height: 180px;
  margin-top: 50px;
}

.h-stripe-deco-s1 {
  background-image: url('https://cnd-host.pages.dev/p/ust/brand/images/Brand-Stripe.svg');
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  width: 180px;
  height: 80%;
  max-height: 420px;
  margin-top: 0;
  position: absolute;
  inset: 0% 15% 0% auto;
}

.h-stripe-deco-s2 {
  opacity: .95;
  background-image: url('https://cnd-host.pages.dev/p/ust/brand/images/Brand-Stripe-h.svg');
  background-position: 0%;
  background-repeat: repeat-x;
  background-size: contain;
  width: 100%;
  height: 120px;
  margin-top: -80px;
  margin-bottom: 40px;
  position: relative;
}

.h-pre-title {
  opacity: 1;
  letter-spacing: .075em;
  margin-bottom: -.65em;
  font-size: .95em;
  font-weight: 500;
}

.h-pre-title.large {
  opacity: 1;
  margin-bottom: -.25em;
  font-size: 1.125em;
  line-height: 1em;
}

.h-item-block {
  text-align: justify;
  width: 20%;
  min-height: 120px;
  line-height: 1.65em;
}

.h-item-block.attributes {
  margin-top: 20px;
}

.h-item-block.equity {
  padding-top: 20px;
}

.h-item-block.how {
  grid-column-gap: 5%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 47%;
  margin-top: 20px;
  display: flex;
}

.h-item-block.expression {
  grid-row-gap: 1.25em;
  flex-direction: column;
  margin-top: 20px;
  display: flex;
}

.h-item-block.col {
  grid-row-gap: .75em;
  flex-direction: column;
  flex: none;
  padding: 20px;
  display: flex;
}

.h-item-block.col.three {
  width: 33%;
}

.h-item-block.col.four {
  width: 25%;
}

.h-item-block.col.five {
  width: 20%;
}

.h-item-icon {
  object-fit: contain;
  object-position: 50% 50%;
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
}

.h-item-icon.square {
  width: 74px;
  height: 74px;
  margin-bottom: 10px;
}

.h-text-title {
  letter-spacing: .0125em;
  margin-bottom: 3px;
  font-size: 1.35em;
  font-weight: 700;
  line-height: 1.35em;
}

.h-text-title.red {
  color: var(--accent--red);
}

.h-text-title.orange {
  color: var(--accent--orange);
}

.h-text-title.yellow {
  color: var(--accent--yellow);
}

.h-text-title.green {
  color: var(--accent--green);
}

.h-text-title.purple {
  color: var(--accent--violet);
}

.h-stack-wrap {
  width: 100%;
  height: 500vh;
  position: relative;
}

.h-sticky-stack {
  background-image: linear-gradient(#000, #fff);
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0%;
}

.h-img-fullscreen {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
}

.h-overlay-text {
  color: #fff;
  width: 30%;
  font-size: 1em;
  line-height: 1.5em;
  position: absolute;
  inset: 20% auto auto 10%;
}

.h-overlay-text.blue {
  color: var(--ust--blue);
}

.h-overlay-text.h-white-text {
  text-shadow: 1px 1px 12px #0000004d;
}

.h-overlay-dark {
  opacity: .4;
  mix-blend-mode: multiply;
  background-image: linear-gradient(#0003, #0003), radial-gradient(circle, #0000, #000);
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 80vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 600px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

.h-pre-big {
  letter-spacing: .0125em;
  flex: none;
  margin-bottom: 10px;
  font-size: 5.5em;
  font-weight: 700;
  line-height: 1em;
}

.h-pre-big.red {
  color: var(--accent--red);
}

.h-pre-big.orange {
  color: var(--accent--orange);
}

.h-pre-big.yellow {
  color: var(--accent--yellow);
}

.h-pre-big.green {
  color: var(--accent--green);
}

.h-pre-big.purple {
  color: var(--accent--violet);
}

.h-wrapper {
  flex: 1;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.h-wrapper.next {
  border-left: 2px solid var(--light-gray);
  margin-left: 0;
  padding-left: 45px;
}

.h-wrapper.auto-size {
  flex: 1;
  width: auto;
}

.h-wrapper.center {
  text-align: center;
}

.h-wrapper.col {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 30px;
}

.h-wrapper.blue-box {
  background-color: #0074bc0d;
  background-image: url('https://cnd-host.pages.dev/p/ust/brand/images/background-noise.png'), linear-gradient(#fff3, #fff3);
  background-position: 0 0, 0 0;
  background-size: auto, auto;
  border-radius: 20px;
  margin-bottom: 40px;
  padding: 30px 25px;
}

.h-wrapper.white-box {
  background-color: #ffffff0d;
  border-radius: 20px;
  margin-bottom: 40px;
  padding: 30px 25px;
  box-shadow: 0 3px 15px #0000004d;
}

.h-wrapper.to-flex-v {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.h-wrapper.no-shrink {
  flex: none;
  width: auto;
}

.h-pre-note {
  color: var(--dark-gray);
  font-size: .95em;
  font-weight: 600;
  display: inline-block;
}

.h-red-text {
  color: var(--accent--red);
}

.h-text-title-mid {
  letter-spacing: .0125em;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.65em;
  font-weight: 700;
  line-height: 1.25em;
}

.h-text-big {
  border-bottom: 4px solid var(--ust--blue);
  letter-spacing: .0125em;
  margin-bottom: .5em;
  padding-bottom: 1em;
  font-size: 1.65em;
  font-weight: 700;
  line-height: 1.25em;
}

.h-text-big.red-line {
  border-bottom-color: var(--accent--red);
}

.h-text-big.orange-line {
  border-bottom-color: var(--accent--orange);
}

.h-text-big.yellow-line {
  border-bottom-color: var(--accent--yellow);
}

.h-text-big.green-line {
  border-bottom-color: var(--accent--green);
}

.h-text-big.purple-line {
  border-bottom-color: var(--accent--violet);
}

.h-tag {
  background-color: var(--light-gray);
  opacity: .5;
  color: var(--text);
  letter-spacing: .025em;
  border-radius: 20px;
  margin-bottom: -8px;
  margin-left: -10px;
  margin-right: 20px;
  padding: 8px 10px;
  font-size: .8em;
  font-weight: 500;
  line-height: 1em;
  display: inline-block;
}

.h-example-box {
  color: #696969;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 20px;
  padding: 10px 20px 8px;
  box-shadow: 0 0 12px #00000008;
}

.h-orange-text {
  color: var(--accent--orange);
}

.h-yellow-text {
  color: var(--accent--yellow);
}

.h-green-text {
  color: var(--accent--green);
}

.h-purple-text {
  color: var(--accent--violet);
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.h-note {
  color: var(--dark-gray);
  font-size: 1.125em;
  line-height: 1.45em;
  display: inline-block;
}

.h-note.boxed {
  color: #fff;
  background-color: #bbb;
  padding: 12px 10px;
  display: block;
}

.h-note.block {
  display: block;
}

.h-note.sub {
  color: var(--ust--blue);
  margin-bottom: 8px;
  font-weight: 600;
  display: block;
}

.h-wrong {
  color: var(--accent--red);
  text-align: left;
  background-image: url('https://cnd-host.pages.dev/p/ust/brand/images/wrong-red-w.svg');
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: 32px 32px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-height: 40px;
  margin-top: .5em;
  margin-bottom: .75em;
  padding-left: 45px;
  font-size: 1.125em;
  font-weight: 700;
  line-height: 1.5em;
  display: flex;
}

.h-img {
  object-fit: contain;
  object-position: 0% 0%;
  width: 300px;
  height: auto;
  max-height: 100px;
  margin-top: 30px;
  margin-bottom: 35px;
  display: block;
}

.h-img.short {
  max-height: 65px;
}

.h-img.shorter {
  width: 200px;
  max-height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.h-img.tall {
  max-height: 120px;
}

.h-img.taller {
  width: 320px;
  max-height: 220px;
}

.h-img.taller.more {
  width: 400px;
  max-height: 280px;
}

.h-img.taller.more-x2 {
  width: 500px;
  max-height: 320px;
}

.h-img.long {
  width: 420px;
}

.h-img.longer {
  width: 520px;
  max-height: 120px;
}

.h-black-pre {
  color: var(--text);
  margin: 10px 10px 10px 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.h-next-deco {
  background-image: linear-gradient(to bottom, var(--dark-gray), var(--light-gray) 0%, #eee0);
  width: 100%;
  height: 120px;
  position: absolute;
  inset: 0% 0% auto;
}

.h-item-row {
  grid-column-gap: 40px;
  text-align: left;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  position: relative;
}

.h-item-row.black {
  background-color: var(--text);
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}

.h-bar {
  z-index: 3;
  background-color: var(--light-gray);
  width: 100%;
  height: 3px;
  margin-top: 25px;
  margin-bottom: 55px;
  position: relative;
}

.h-narrow-res {
  flex: 1;
  width: 800px;
}

.h-small-pre {
  color: var(--text);
  flex: none;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0;
  font-size: 12px;
  font-weight: 600;
  line-height: 1em;
}

.h-small-pre.special {
  color: #fff;
}

.h-vision-com {
  width: 50%;
  padding-top: 80px;
  padding-left: 3%;
  padding-right: 3%;
}

.h-semi-overlay {
  z-index: 0;
  background-color: #0366;
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  inset: 0%;
}

.h-img-large {
  flex: 1;
  width: 75%;
  margin-bottom: 20px;
}

.h-img-large.less-large {
  width: 65%;
}

.h-img-large.less-large.smaller {
  flex: 0 auto;
  width: 320px;
  min-width: auto;
  max-width: 40%;
}

.h-img-large.less-large.small {
  width: 45%;
}

.h-img-std {
  flex: 1;
  width: 160px;
  max-width: 90%;
  height: auto;
  margin-bottom: 15px;
}

.h-img-std.full-width {
  width: 100%;
  max-width: none;
}

.h-img-std.col-fit {
  object-fit: cover;
  flex: none;
  width: 100%;
  max-width: none;
  height: 200px;
}

.h-img-std.larger {
  width: 400px;
}

.h-img-std.larger.fixed-height {
  width: auto;
  max-width: 100%;
  height: 300px;
}

.h-img-std.larger.more {
  width: 460px;
}

.h-img-std.square {
  object-fit: cover;
  flex: none;
  width: 200px;
  max-width: none;
  height: 200px;
}

.h-img-std.vertical {
  flex: none;
  width: 115px;
  max-width: none;
}

.h-img-std.text-16px {
  flex: none;
  width: auto;
  height: 16px;
  display: block;
}

.h-banner-video {
  z-index: 3;
  background-color: var(--ust--blue);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  inset: 0%;
}

.h-top {
  z-index: 9999;
  padding-bottom: 30px;
  padding-right: 35px;
  transition: all .6s;
  position: fixed;
  inset: auto 0% 0% auto;
}

.h-top-link {
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  color: var(--ust--blue);
  text-align: center;
  cursor: pointer;
  background-color: #fff9;
  border-radius: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  text-decoration: none;
  transition: all .28s;
  display: flex;
  overflow: hidden;
  box-shadow: 0 0 12px #0033664d;
}

.h-top-link:hover {
  background-color: #fffffff2;
  text-decoration: none;
  transform: translate(0, -5px);
  box-shadow: 0 0 8px #00336673;
}

.h-top-icon {
  cursor: pointer;
  flex: none;
  width: 23px;
  height: 23px;
  margin-top: -3px;
}

.h-img-mid {
  flex: none;
  width: 160px;
  max-width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.h-img-mid.larger {
  width: auto;
  max-width: 100%;
  max-height: 260px;
}

.h-spacer {
  flex: none;
  width: 100%;
  min-height: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.h-spacer.thinner {
  min-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.h-blue-pre {
  color: var(--ust--blue);
  margin: 10px 10px 10px 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.h-blue-pre.lined {
  border-bottom: 3px solid var(--ust--blue);
  margin-bottom: 5px;
  margin-right: 0;
  padding-bottom: 5px;
  font-size: 16px;
}

.h-shadow {
  box-shadow: 1px 1px 11px #0003;
}

.h-download-wrap {
  grid-column-gap: 8px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 13px;
  line-height: 1.25em;
  display: flex;
}

.h-rt-small {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.115em;
  line-height: 1.65em;
}

.h-rt-small p {
  text-align: justify;
  margin-bottom: 10px;
  padding-bottom: 0;
}

.h-rt-small li {
  margin-bottom: 10px;
  line-height: 1.65em;
}

.h-rt-small ol, .h-rt-small ul {
  padding-left: 35px;
}

.h-rt-small-2-col-list {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.115em;
  line-height: 1.65em;
}

.h-rt-small-2-col-list p {
  text-align: justify;
  margin-bottom: 10px;
  padding-bottom: 0;
}

.h-rt-small-2-col-list li {
  margin-bottom: 10px;
  line-height: 1.65em;
}

.h-rt-small-2-col-list ol, .h-rt-small-2-col-list ul {
  column-count: 2;
  column-gap: 60px;
  padding-left: 35px;
}

.h-rt-free {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.275em;
  line-height: 2em;
}

.h-rt-free h1 {
  font-size: 2.5em;
  line-height: 1.125em;
}

.h-rt-free p {
  margin-bottom: 10px;
  padding-bottom: 0;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.5em;
}

.flex-section {
  display: flex;
}

.notes {
  pointer-events: auto;
  color: var(--light-gray);
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
  background-color: #181818;
  background-image: linear-gradient(#000, #181818);
  flex: none;
  width: 220px;
  min-width: 220px;
  padding: 1.25rem .8rem;
  font-size: 16px;
  line-height: 1.25em;
}

.notes-rt {
  cursor: auto;
  -webkit-user-select: auto;
  user-select: auto;
  font-size: .785em;
  line-height: 1.375em;
}

.notes-rt code {
  background-color: var(--text);
  letter-spacing: 0;
  word-break: break-all;
  border-radius: 4px;
  padding: .315em .6em;
  font-size: .75em;
  line-height: 1.35em;
  display: inline-flex;
}

.notes-rt p {
  margin-bottom: .675em;
  line-height: 1.475em;
}

.section-code {
  pointer-events: auto;
  -webkit-user-select: auto;
  user-select: auto;
  flex: 1;
  margin: 0;
  padding: 0;
  display: block;
}

.h-white-link {
  opacity: 1;
  color: #fff;
  text-decoration: none;
  transition: all .2s;
}

.h-white-link:hover {
  opacity: .85;
  color: #fff;
  text-decoration: none;
}

.h-link-block {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  color: #fff;
  text-align: center;
  letter-spacing: .025em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 180px;
  max-width: 280px;
  margin-bottom: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  line-height: 1.5em;
  text-decoration: none;
  transition: all .28s;
  display: flex;
}

.h-link-block:hover {
  color: #fff;
  text-shadow: 0 0 12px var(--ust--blue);
  text-decoration: none;
  transform: translate(0, -6px);
}

.h-rt-standard {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.275em;
  line-height: 1.95em;
}

.h-rt-standard p {
  text-align: justify;
  margin-bottom: 10px;
  padding-bottom: 0;
  font-weight: 400;
}

.h-rt-standard li {
  margin-bottom: 10px;
}

.h-rt-standard ul {
  padding-left: 35px;
}

.h-rt-standard.narrow {
  max-width: 800px;
}

.h-rt-standard.blue {
  color: var(--ust--blue);
  line-height: 1.8em;
}

.h-rt-standard-white {
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.275em;
  line-height: 1.95em;
}

.h-rt-standard-white p {
  text-align: justify;
  margin-bottom: 10px;
  padding-bottom: 0;
  font-weight: 400;
}

.h-rt-standard-white li {
  margin-bottom: 10px;
}

.h-rt-standard-white ul {
  padding-left: 35px;
}

.h-rt-standard-white a {
  color: #fff;
  text-decoration: underline;
}

.h-button-s1 {
  border: 1px solid #fff;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.035em;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.h-button-s1:hover {
  text-decoration: none;
}

.h-button-s1-inner {
  background-color: var(--ust--blue);
  color: #fff;
  letter-spacing: .025em;
  border-left: 20px solid #fff;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 17px 20px;
  text-decoration: none;
  transition: all .16s ease-in-out;
  display: flex;
}

.h-button-s1-inner:hover {
  color: var(--ust--blue);
  background-color: #fff;
}

.h-button-s1-inner.inverse {
  border-left-color: var(--accent--light-blue);
}

.h-button-s1-inner.inverse:hover {
  border-left-color: var(--ust--blue);
  background-color: var(--accent--light-blue);
  color: #fff;
}

.h-button-s1-inner.trans {
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background-color: #ffffff0d;
}

.h-button-s1-inner.trans:hover {
  border-left-color: var(--accent--light-blue);
  background-color: #fff;
}

.h-button-s2 {
  border-style: solid;
  border-width: 0 0 0 20px;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-right-color: #fff;
  border-left-color: var(--accent--light-blue);
  background-color: var(--ust--blue);
  color: #fff;
  background-image: url('https://cnd-host.pages.dev/p/ust/brand/images/h-go-arrow.svg');
  background-position: calc(100% - 12px);
  background-repeat: no-repeat;
  background-size: 9px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 180px;
  padding: 18px 41px 18px 20px;
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.035em;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.h-button-s2:hover {
  color: #fff;
  text-decoration: none;
}

.h-button-s2.trans {
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background-color: #ffffff0d;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-style: solid;
  border-left-color: #fff;
  border-right-width: 1px;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-right: 40px;
}

.h-button-s2.trans:hover {
  border-top-width: 0;
  border-bottom-width: 0;
  border-right-width: 0;
  border-left-color: var(--accent--light-blue);
  color: var(--ust--blue);
  background-color: #fff;
  background-image: url('https://cnd-host.pages.dev/p/ust/brand/images/h-go-arrow-blue.svg');
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 41px;
}

.h-button-s2.contrast {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-color: #fff;
  border-right-width: 1px;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-right: 40px;
}

.h-button-s2.contrast:hover {
  border-top-width: 0;
  border-bottom-width: 0;
  border-right-width: 0;
  border-left-color: var(--accent--light-blue);
  color: var(--ust--blue);
  background-color: #fff;
  background-image: url('https://cnd-host.pages.dev/p/ust/brand/images/h-go-arrow-blue.svg');
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 41px;
}

.h-button-s2.mini {
  border-left-width: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
}

.h-download-go {
  grid-column-gap: 6px;
  background-color: var(--ust--blue);
  color: #fff;
  text-align: center;
  letter-spacing: .0125em;
  border-radius: 8px;
  flex-direction: row;
  flex: none;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  font-size: 13px;
  font-weight: 400;
  line-height: 1em;
  text-decoration: none;
  transition: all .22s;
  display: flex;
}

.h-download-go:hover {
  background-color: var(--accent--light-blue);
  color: #fff;
}

.h-download-go.text-link {
  background-image: url('https://cnd-host.pages.dev/p/ust/brand/images/download.svg');
  background-position: 12px;
  background-repeat: no-repeat;
  background-size: .75em;
  padding-left: 28px;
  text-decoration: none;
}

@media screen and (max-width: 991px) {
  .h-max-w.no-padding {
    padding: 0;
  }

  .h-hh1-white {
    font-size: 2.95em;
  }

  .h-hh1-page-title {
    font-size: 50px;
  }

  .h-hh1-oversize {
    font-size: 12vw;
  }

  .h-side-menu-link {
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 1.125em;
  }

  .h-side-menu-wrap {
    width: 300px;
    padding-left: 20px;
    padding-right: 50px;
  }

  .h-banner {
    height: 65vw;
  }

  .h-banner-img.dome-window {
    height: 55vw;
  }

  .h-banner-content {
    padding-top: 85px;
  }

  .h-banner-content.from-bottom {
    padding-bottom: 8vw;
  }

  .h-section {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .h-flex-h.gap {
    flex-wrap: wrap;
  }

  .h-flex-h.gap.large {
    grid-row-gap: 35px;
    flex-wrap: wrap;
  }

  .h-flex-h.gap.larger {
    grid-column-gap: 60px;
    flex-wrap: wrap;
  }

  .h-flex-h.gap-wrap {
    grid-column-gap: 30px;
  }

  .h-flex-h.full-height {
    flex-direction: column;
  }

  .h-flex-v.gap {
    flex-wrap: wrap;
  }

  .h-narrow {
    max-width: 600px;
  }

  .h-narrow.narrower {
    width: 50%;
  }

  .h-narrow.narrower.res {
    width: 100%;
    max-width: 100%;
  }

  .h-section-inner.narrow-adj {
    padding-bottom: 0;
    padding-left: 0%;
    padding-right: 0%;
  }

  .h-section-inner.spaced {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .h-overlay-content {
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .h-overlay-content.red-bird-content {
    font-size: .95em;
  }

  .h-overlay-gradient {
    background-image: linear-gradient(to right, var(--ust--blue), #036c 40%, #0360 70%);
  }

  .h-go-down {
    width: 60px;
    bottom: 12px;
  }

  .h-anchor {
    top: -120px;
  }

  .h-rt-large {
    font-size: 1.315em;
    line-height: 1.7em;
  }

  .h-area-content {
    width: 100%;
    padding: 40px 30px;
  }

  .h-area-content.half-size {
    width: 100%;
  }

  .h-stripe-deco-s0 {
    width: 160px;
  }

  .h-stripe-deco-s1 {
    width: 160px;
    right: 13%;
  }

  .h-stripe-deco-s2 {
    height: 80px;
    margin-top: -20px;
  }

  .h-item-block {
    text-align: left;
    width: 28%;
  }

  .h-item-block.equity {
    width: 20%;
  }

  .h-item-block.col {
    padding-bottom: 18px;
    padding-left: 18px;
    padding-right: 18px;
  }

  .h-item-block.col.five {
    width: 33%;
  }

  .h-text-title {
    font-size: 1.3em;
    line-height: 1.3em;
  }

  .h-overlay-text {
    width: 45%;
    top: 15%;
    left: 8%;
  }

  .h-overlay-dark {
    background-image: linear-gradient(to right, var(--ust--blue), #036c 40%, #0360 70%);
  }

  .utility-page-content {
    width: 100%;
  }

  .h-pre-big {
    font-size: 4.2em;
  }

  .h-wrapper.next, .h-wrapper.col {
    margin-left: 0;
    padding-left: 30px;
  }

  .h-next-deco {
    height: 80px;
  }

  .h-narrow-res {
    width: 100%;
    max-width: 800px;
  }

  .h-vision-com {
    width: 100%;
    padding-top: 0;
  }

  .h-semi-overlay {
    display: block;
  }

  .h-img-large {
    width: 90%;
  }

  .h-img-large.less-large {
    width: 80%;
  }

  .h-img-large.less-large.small {
    width: 65%;
  }

  .h-img-std.col-fit {
    height: 18vw;
  }

  .h-img-std.square {
    width: 18vw;
    height: 18vw;
  }

  .h-banner-video {
    display: none;
  }

  .h-top {
    padding-bottom: 25px;
    padding-right: 16px;
  }

  .h-top-link {
    transition: none;
  }

  .h-top-link:hover {
    transform: none;
  }

  .h-spacer {
    min-height: 30px;
  }

  .h-rt-small, .h-rt-small-2-col-list {
    font-size: 1em;
    line-height: 1.65em;
  }

  .h-rt-free {
    font-size: 1.2em;
    line-height: 1.8em;
  }

  .notes {
    display: none;
  }

  .h-rt-standard {
    font-size: 1.2em;
    line-height: 1.8em;
  }

  .h-rt-standard.narrow {
    max-width: 600px;
  }

  .h-rt-standard.blue {
    color: #fff;
  }

  .h-rt-standard-white {
    font-size: 1.2em;
    line-height: 1.8em;
  }

  .h-button-s1 {
    font-size: 1.15em;
  }

  .h-button-s1-inner {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .h-button-s2 {
    font-size: 1.15em;
  }
}

@media screen and (max-width: 767px) {
  .h-hh1-white {
    font-size: 2.75em;
  }

  .h-hh1-page-title {
    font-size: 42px;
  }

  .h-hh1-page-title.h-white-text {
    font-size: 38px;
  }

  .h-hh1-oversize {
    font-size: 13.5vw;
  }

  .h-hh3-blue.small {
    font-size: 20px;
  }

  .h-side-menu-wrap {
    display: none;
  }

  .h-banner.tall {
    height: auto;
    min-height: 90vw;
  }

  .h-banner-img.dome-window {
    height: 70vw;
  }

  .h-banner-content {
    padding-top: 70px;
  }

  .h-banner-content.from-bottom {
    padding-bottom: 7.5vw;
  }

  .h-section {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .h-section.with-bg {
    padding-top: 70px;
    padding-bottom: 100px;
  }

  .h-section.next {
    padding-top: 100px;
  }

  .h-flex-h.gap.large {
    grid-column-gap: 30px;
    grid-row-gap: 25px;
  }

  .h-flex-h.gap.larger {
    grid-column-gap: 30px;
  }

  .h-flex-h.gap-wrap {
    grid-column-gap: 25px;
    grid-row-gap: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .h-flex-h.full-height {
    justify-content: center;
  }

  .h-narrow {
    max-width: 420px;
  }

  .h-narrow.narrower {
    width: 75%;
  }

  .h-img-icon {
    min-width: 40px;
    height: 100px;
  }

  .h-section-inner.flex-right {
    align-items: flex-start;
  }

  .h-section-inner.narrow-adj {
    padding-top: 0;
  }

  .h-section-inner.spaced {
    padding-top: 20px;
  }

  .h-button-arrow {
    width: 14px;
    height: 14px;
    margin-left: 20px;
  }

  .h-overlay-content {
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .h-overlay-gradient {
    background-image: linear-gradient(to right, var(--ust--blue), #036c 55%, #0360 85%);
  }

  .h-go-down {
    display: none;
  }

  .h-rt-large {
    font-size: 1.215em;
    line-height: 1.6em;
  }

  .h-area-content {
    padding-left: 25px;
    padding-right: 25px;
  }

  .h-stripe-deco-s0 {
    width: 130px;
    margin-top: 40px;
  }

  .h-stripe-deco-s1 {
    width: 140px;
    right: 10%;
  }

  .h-stripe-deco-s2 {
    background-size: cover;
  }

  .h-item-block {
    text-align: left;
  }

  .h-item-block.equity {
    width: 45%;
  }

  .h-item-block.how {
    width: 100%;
  }

  .h-item-block.col {
    width: 50%;
    padding: 15px 15px 10px;
  }

  .h-item-block.col.three, .h-item-block.col.four, .h-item-block.col.five {
    width: 50%;
  }

  .h-item-icon {
    width: 60px;
    height: 60px;
  }

  .h-item-icon.square {
    width: 66px;
    height: 66px;
  }

  .h-text-title {
    font-size: 1.25em;
    line-height: 1.15em;
  }

  .h-overlay-text {
    width: 60%;
  }

  .h-overlay-dark {
    background-image: linear-gradient(to right, var(--ust--blue), #036c 55%, #0360 85%);
  }

  .h-wrapper {
    padding-top: 5px;
  }

  .h-wrapper.next {
    border-left: 0 #0000;
    flex: none;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .h-wrapper.auto-size {
    flex: none;
    width: 100%;
    padding-bottom: 5px;
  }

  .h-wrapper.col {
    border-left: 0 #0000;
    flex: none;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .h-wrapper.blue-box, .h-wrapper.white-box {
    padding: 25px 20px;
  }

  .h-example-box {
    padding: 8px 18px 4px;
  }

  .h-note, .h-wrong.h-red-text {
    font-size: 1em;
  }

  .h-img {
    width: 260px;
  }

  .h-img.shorter {
    width: 155px;
    max-height: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .h-next-deco {
    height: 60px;
  }

  .h-item-row {
    grid-column-gap: 10px;
  }

  .h-img-large {
    width: 100%;
  }

  .h-img-large.less-large {
    width: 80%;
  }

  .h-img-large.less-large.smaller {
    width: 280px;
    max-width: 55%;
  }

  .h-img-large.less-large.small {
    width: 80%;
  }

  .h-img-std.col-fit {
    height: 28vw;
  }

  .h-img-std.larger {
    width: 320px;
  }

  .h-img-std.square {
    width: 28vw;
    height: 28vw;
    margin-bottom: 10px;
  }

  .h-img-std.vertical {
    width: 110px;
  }

  .h-top-link {
    width: 45px;
    height: 45px;
  }

  .h-rt-small, .h-rt-small-2-col-list {
    padding-bottom: 15px;
  }

  .h-rt-small-2-col-list ol, .h-rt-small-2-col-list ul {
    column-count: 1;
    column-gap: 0;
  }

  .h-rt-free {
    padding-bottom: 15px;
    font-size: 1.125em;
    line-height: 1.65em;
  }

  .h-link-block {
    max-width: 200px;
  }

  .h-rt-standard {
    font-size: 1.125em;
    line-height: 1.65em;
  }

  .h-rt-standard p {
    text-align: left;
  }

  .h-rt-standard.narrow {
    max-width: 420px;
  }

  .h-rt-standard-white {
    font-size: 1.125em;
    line-height: 1.65em;
  }

  .h-rt-standard-white p {
    text-align: left;
  }

  .h-button-s1 {
    min-width: 180px;
    font-size: 1.125em;
  }

  .h-button-s1-inner {
    border-left-width: 18px;
    padding: 14px 18px;
  }

  .h-button-s2 {
    border-left-width: 15px;
    padding-left: 15px;
    padding-right: 20px;
    font-size: 1.125em;
  }
}

@media screen and (max-width: 479px) {
  .h-hh1-white {
    font-size: 2.45em;
  }

  .h-hh1-page-title {
    font-size: 40px;
  }

  .h-hh1-page-title.h-white-text {
    white-space: break-spaces;
    font-size: 32px;
  }

  .h-banner {
    height: 80vw;
  }

  .h-banner-img.dome-window {
    height: 80vw;
    min-height: 380px;
  }

  .h-section {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .h-flex-h.gap.large {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .h-flex-h.gap.larger, .h-flex-h.gap-wrap.around {
    grid-column-gap: 20px;
  }

  .h-narrow {
    width: 100%;
    max-width: none;
  }

  .h-narrow.narrower {
    width: 90%;
  }

  .h-img-icon {
    height: 75px;
  }

  .h-section-inner.flex-right {
    text-align: left;
    align-items: flex-start;
  }

  .h-button-arrow {
    width: 12px;
    height: 12px;
    margin-left: 16px;
  }

  .h-overlay-content {
    padding-left: 20px;
    padding-right: 20px;
  }

  .h-overlay-content.red-bird-content {
    font-size: .9em;
  }

  .h-rt-large {
    font-size: 1.115em;
    line-height: 1.5em;
  }

  .h-rt-large p {
    text-align: left;
  }

  .h-area-content {
    padding-left: 20px;
    padding-right: 20px;
  }

  .h-stripe-deco-s0 {
    width: 100px;
    min-height: 50px;
  }

  .h-stripe-deco-s1 {
    right: 0%;
  }

  .h-item-block {
    width: 45%;
  }

  .h-item-block.how {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .h-item-block.col {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .h-item-block.col.three, .h-item-block.col.four, .h-item-block.col.five {
    width: 100%;
  }

  .h-item-icon.square {
    width: 54px;
    height: 54px;
    margin-bottom: 5px;
  }

  .h-text-title {
    font-size: 1.225em;
  }

  .h-overlay-text {
    width: 80%;
    left: 20px;
  }

  .utility-page-content {
    width: 320px;
  }

  .h-pre-big {
    font-size: 3.5em;
  }

  .h-wrapper.blue-box, .h-wrapper.white-box {
    padding-left: 15px;
    padding-right: 15px;
  }

  .h-img {
    width: 220px;
  }

  .h-item-row {
    margin-bottom: 25px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .h-small-pre {
    order: -1;
    width: 100%;
    position: absolute;
    inset: -25px auto auto 0%;
  }

  .h-small-pre.special {
    color: var(--text);
  }

  .h-vision-com {
    padding-left: 0%;
    padding-right: 0%;
  }

  .h-img-large.less-large {
    width: 95%;
  }

  .h-img-large.less-large.smaller {
    max-width: 75%;
  }

  .h-img-large.less-large.small {
    width: 90%;
  }

  .h-img-std.col-fit {
    height: 50vw;
  }

  .h-img-std.larger {
    width: 300px;
  }

  .h-img-std.square {
    width: 38vw;
    height: 38vw;
    margin-bottom: 5px;
  }

  .h-img-std.vertical {
    width: 85px;
    max-width: 25vw;
  }

  .h-top {
    padding-right: 12px;
  }

  .h-top-link {
    width: 40px;
    height: 40px;
  }

  .h-top-icon {
    width: 21px;
    height: 21px;
  }

  .h-img-mid {
    width: 130px;
  }

  .h-rt-small, .h-rt-small-2-col-list {
    font-size: .95em;
    line-height: 1.55em;
  }

  .h-rt-free {
    font-size: 1em;
    line-height: 1.55em;
  }

  .notes {
    display: none;
  }

  .h-link-block {
    min-width: 125px;
    max-width: 125px;
  }

  .h-rt-standard {
    font-size: 1.025em;
    line-height: 1.55em;
  }

  .h-rt-standard p {
    text-align: left;
  }

  .h-rt-standard.narrow {
    width: 100%;
    max-width: none;
  }

  .h-rt-standard-white {
    font-size: 1.025em;
    line-height: 1.55em;
  }

  .h-rt-standard-white p {
    text-align: left;
  }

  .h-button-s1 {
    min-width: 160px;
    font-size: 1.05em;
  }

  .h-button-s1-inner {
    border-left-width: 14px;
    padding: 12px 14px;
  }

  .h-button-s2 {
    min-width: 150px;
    font-size: 1.05em;
  }
}
